<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <p><%= "フォロー数: #{@user.follower.count}" %> <%= "フォロワー数: #{@user.followed.count}" %></p>
  <%= @user.self_introduction %>
  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
  <% unless @user == current_user %>
  <% if current_user.following?(@user) %>
    <%= link_to 'フォロー外す', unfollow_path(@user.id), method: :POST %>
  <% else %>
    <%= link_to 'フォローする', follow_path(@user.id), method: :POST %>
  <% end %>
  <% end %>
</div>

<% @post.each do |post| %>
<div>
  <p>投稿ユーザー画像：<%= attachment_image_tag post.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
  <p>投稿画像<%= attachment_image_tag post, :image, :fill, 300, 300, format: 'jpeg', size:'200×200' %></p>
  <p>説明：<%= post.explanation %></p>
  <p>感想文：<%= post.impressions %></p>
  <%= link_to "詳細", post_path(post.id) %>
  <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>
</div>
<% end %>
<%= paginate @post %>

<h3>フォロー一覧</h3>
  <% @user.following_user.each do |user| %>
    <p>
      <%= "profile_image: #{user.profile_image} id: #{user.id} email: #{user.email}" %>
      <% if current_user.following?(user) %>
        <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
      <% else %>
        <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
      <% end %>
      <%= link_to "show", user_path(user) %>
    </p>
  <% end %>
<h3>フォロワー一覧</h3>
  <% @user.follower_user.each do |user| %>
    <p>
      <%= "profile_image: #{user.profile_image} id: #{user.id} email: #{user.email}" %>
      <% if current_user.following?(user) %>
        <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
      <% else %>
        <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
      <% end %>
      <%= link_to "show", user_path(user) %>
    </p>
  <% end %>